<div id="Extras" class=" dataSection border shadow-lg p-3 mb-5 bg-white rounded collapse">
    <h5>Extras</h5>

    <!-- wides -->
    <div class="FormRow">
        <div class="form-group">
            <label>Wides</label>
            <input type="number" class="form-control  form-control-sm wides" placeholder="Wides" required>
        </div>
    </div>

    <!-- NO Balls -->
    <div class="FormRow">
        <div class="form-group">
            <label>No Balls</label>
            <input type="number" class="form-control  form-control-sm noBalls" placeholder="No Balls" required> 
        </div>
    </div>

    <!-- Byes -->
    <div class="FormRow">
        <div class="form-group">
            <label>Byes</label>
            <input type="number" class="form-control  form-control-sm byes" placeholder="Byes" required>
        </div>
    </div>

    <!-- Leg Byes -->
    <div class="FormRow">
        <div class="form-group">
            <label>Leg Byes</label>
            <input type="number" class="form-control  form-control-sm legByes" placeholder="Leg Byes" required>
        </div>
    </div>

</div>