<div id="GroundAssessment" class=" dataSection border shadow-lg p-3 mb-5 bg-white rounded collapse">
    <h5>Ground Assessment</h5>
    <br>


    <Div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-5">
                <label> Pitch Preperation</label>
            </div>
            <div class="col my-auto pp">
                <input type="hidden" name="pitchPreperation" class="gapp" value="0" />
                <span class="far fa-star  "></span>
                <span class="far fa-star  "></span>
                <span class="far fa-star  "></span>
                <span class="far fa-star  "></span>
                <span class="far fa-star  "></span>
            </div>
        </div>
    </Div>

    <Div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-5 ">
                <label> Pitch Markings</label>
            </div>
            <div class="col my-auto pm">
                <input type="hidden" name="pitchMarkings" class="gapm" value="0" />
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
            </div>
        </div>
    </Div>

    <Div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-5">
                <label> Boundry Markings</label>
            </div>
            <div class="col my-auto bm">
                <input type="hidden" name=" boundryMarkings" class="gabm" value="0" />
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
            </div>
        </div>
    </Div>

    <Div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-5">
                <label> Outfield</label>
            </div>
            <div class="col my-auto of">
                <input type="hidden" name="Outfield" class="gaof" value="0" />
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star "></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
            </div>
        </div>
    </Div>
    <Div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-5">
                <label> Spirit of the Game</label>
            </div>
            <div class="col my-auto sg">
                <input type="hidden" name="gameSprit" class="gasg" value="0" />
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
            </div>
        </div>
    </Div>


</div>