<div id="UmpiresAssessment" class=" dataSection border shadow-lg p-3 mb-5 bg-white rounded collapse">
    <h5>Umpires Assessment</h5>
    <br>

    <div class="row">
        <div class="col-lg-2 col-5">
            <label>Umpire Present</label>
        </div>
        <div class="col my-auto">
            <div class="btn-group btn-group-sm " role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark">Yes</button>
                <button type="button" class="btn btn-dark">No</button>
            </div>

        </div>
    </div>

    <div class="umpire1">

        <div class="form-group">
            <label for="Umpire1">Umpire 1</label>
            <select class="form-control form-control-sm" id="Umpire1">
                <option>Umpire 1</option>
                <option>Umpire 2</option>
                <option>Umpire 3</option>
            </select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-5">
                    <label>knowLedge & Skill</label>
                </div>
                <div class="col my-auto">
                    <span class="far fa-star  checked"></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-5">
                    <label>Decision Quality</label>
                </div>
                <div class="col my-auto">
                    <span class="far fa-star  checked"></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-5">
                    <label>Interpretation</label>
                </div>
                <div class="col my-auto">
                    <span class="far fa-star  checked"></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                </div>
            </div>
        </div>
    </div>
    <div class="umpire2">


        <div class="form-group">
            <label for="Umpire2">Umpire 2</label>
            <select class="form-control form-control-sm" id="Umpire2">
                <option>Umpire 1</option>
                <option>Umpire 2</option>
                <option>Umpire 3</option>
            </select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-5">
                    <label>knowLedge & Skill</label>
                </div>
                <div class="col my-auto">
                    <span class="far fa-star  checked"></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-5">
                    <label>Decision Quality</label>
                </div>
                <div class="col my-auto">
                    <span class="far fa-star  checked"></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-5">
                    <label>Interpretation</label>
                </div>
                <div class="col my-auto">
                    <span class="far fa-star  checked"></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                    <span class="far fa-star  "></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        <label> Additional Comments</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>

    </div>


</div>