
<div class="form-row inputFormRow  ">
    <div class="col-lg-1 col-md-12  d-flex justify-content-center">
        <span class="rowName">Player 1</span>
    </div>

    <div class="col-lg col-md-6  ">
        <div class="form-group">
            <label class="sr-only" for="exampleFormControlSelect2">Select Batsman</label>
            <select class="form-control form-control-sm name" id="exampleFormControlSelect2" required>
                <option value="">Select Batsman</output></option>
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 ">
        <div class="form-group">
            <label class="sr-only" for="inlineFormInputName2">Score</label>
            <input type="number" class="form-control  form-control-sm score" id="inlineFormInputName2"
                placeholder="Score" required>
        </div>
    </div>
    <div class="col-lg col-md-6 ">
        <div class="form-group">
            <label class="sr-only" for="exampleFormControlSelect2">How Out</label>
            <select class="form-control form-control-sm howout" required>
                <option value="">How Out</output></option>
                <option value="Bowl">Bowl</option>
                <option value="Caught">Caught</option>
                <option value="Run Out">Run Out</option>
                <option value="LBW">LBW</option>
            </select>
        </div>
    </div>

    <div class="col-lg col-md-6">
        <div class="form-group">
            <label class="sr-only" for="exampleFormControlSelect2">Bowler</label>
            <select class="form-control  form-control-sm bowler" required>
                <option value="">Choose Blower</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>

    <div class="col-lg-1 col-md-6  ">
        <button type="button" class="btn btn-danger btn-sm removeRow"><i class="far fa-trash-alt"></i></button>
    </div>


</div>