body{
    background-color: white;
}
.container-fluid{
    padding: 0 15%;
    background-color: transparent;
}

.checked{
    color: orange;
}

.checkbox{
    height: 1rem;
    width: 1rem;
}

.dataSection{
    background-color: white;
    padding: 1rem;
}


.btn-sm{
    height: 2rem;
  }
  #addRow{
    margin-top: 2rem;
  }
  .btn-block{
      margin-bottom: .5rem ;
  }
 
  @media(max-width: 600px) {
    .container-fluid{
        padding: 0  5%;
    }
  }